/*

*/

.version.features /* version checker */
{
	color: #00001B;
	background-color: #36BC20;
}

@-ms-viewport
{
	width: 1008px;
}

@-webkit-viewport
{
	width: 1008px;
}

@-o-viewport
{
	width: 1008px;
}

@-moz-viewport
{
	width: 1008px;
}

@viewport
{
	width: 1008px;
}

.html
{
	background-color: #191B1E;
}

#page
{
	z-index: 1;
	width: 1008px;
	min-height: 1023.85px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
}

#ppu9067
{
	width: 0.01px;
}

#pu9067
{
	z-index: 76;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	margin-left: 31px;
}

#u9067
{
	z-index: 0;
	width: 46px;
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu9068
{
	width: 0.01px;
	position: relative;
	left: 6px;
	padding-top: 6px;
	z-index: 2;
	padding-bottom: 6px;
}

#u9068
{
	z-index: 77;
	width: 35px;
	height: 35px;
	margin-right: -10000px;
}

#u9019
{
	z-index: 17;
}

#u9020-4
{
	z-index: 18;
	min-height: 32px;
	padding: 15px 30px 15px 10px;
}

#u9020-4.AccordionPanelTabOpen
{
	padding-top: 15px;
	padding-bottom: 15px;
	min-height: 32px;
	margin: 0px;
}

#u9021
{
	z-index: 22;
	padding-bottom: 21px;
}

#accordionu9022
{
	z-index: 23;
	width: 1008px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-right: -10000px;
	margin-top: 1px;
}

#u9032
{
	z-index: 24;
	width: 1008px;
}

#u9033-4
{
	z-index: 25;
	width: 1008px;
	min-height: 14px;
	padding-top: 15px;
	padding-bottom: 15px;
}

#u9033-4:hover
{
	padding-top: 15px;
	padding-bottom: 15px;
	min-height: 14px;
	width: 1008px;
	margin: 0px;
}

#u9034
{
	z-index: 29;
	width: 1008px;
	height: 1px;
}

#u9023
{
	z-index: 30;
	width: 1008px;
}

#u9024-4
{
	z-index: 31;
	width: 1008px;
	min-height: 14px;
	padding-top: 15px;
	padding-bottom: 15px;
}

#u9033-4.AccordionPanelTabOpen,#u9024-4:hover
{
	padding-top: 15px;
	padding-bottom: 15px;
	min-height: 14px;
	width: 1008px;
	margin: 0px;
}

#u9025
{
	z-index: 35;
	width: 1008px;
	height: 1px;
}

#u9026
{
	z-index: 36;
	width: 1008px;
}

#u9028-4
{
	z-index: 37;
	width: 1008px;
	min-height: 14px;
	padding-top: 15px;
	padding-bottom: 15px;
}

#u9024-4.AccordionPanelTabOpen,#u9028-4:hover
{
	padding-top: 15px;
	padding-bottom: 15px;
	min-height: 14px;
	width: 1008px;
	margin: 0px;
}

#u9027
{
	z-index: 41;
	width: 1008px;
	height: 1px;
}

#u9029
{
	z-index: 42;
	width: 1008px;
}

#u9030-4
{
	z-index: 43;
	width: 1008px;
	min-height: 14px;
	padding-top: 15px;
	padding-bottom: 15px;
}

#u9028-4.AccordionPanelTabOpen,#u9030-4:hover
{
	padding-top: 15px;
	padding-bottom: 15px;
	min-height: 14px;
	width: 1008px;
	margin: 0px;
}

#u9031
{
	z-index: 47;
	width: 1008px;
	height: 1px;
}

#u9035
{
	z-index: 48;
	width: 1008px;
}

#u9037-4
{
	z-index: 49;
	width: 1008px;
	min-height: 14px;
	padding-top: 15px;
	padding-bottom: 15px;
}

#u9030-4.AccordionPanelTabOpen,#u9037-4:hover
{
	padding-top: 15px;
	padding-bottom: 15px;
	min-height: 14px;
	width: 1008px;
	margin: 0px;
}

#u9036
{
	z-index: 53;
	width: 1008px;
	height: 1px;
}

#u9038
{
	z-index: 54;
	width: 1008px;
}

#u9040-4
{
	z-index: 55;
	width: 1008px;
	min-height: 14px;
	padding-top: 15px;
	padding-bottom: 15px;
}

#u9037-4.AccordionPanelTabOpen,#u9040-4:hover
{
	padding-top: 15px;
	padding-bottom: 15px;
	min-height: 14px;
	width: 1008px;
	margin: 0px;
}

#u9039
{
	z-index: 59;
	width: 1008px;
	height: 1px;
}

#u9079
{
	z-index: 60;
	width: 1008px;
}

#u9080-4
{
	z-index: 61;
	width: 1008px;
	min-height: 14px;
	padding-top: 15px;
	padding-bottom: 15px;
}

#u9040-4.AccordionPanelTabOpen,#u9080-4:hover
{
	padding-top: 15px;
	padding-bottom: 15px;
	min-height: 14px;
	width: 1008px;
	margin: 0px;
}

#u9081
{
	z-index: 65;
	width: 1008px;
	height: 1px;
}

#u9082
{
	z-index: 66;
	width: 1008px;
}

#u9083-4
{
	z-index: 67;
	width: 1008px;
	min-height: 14px;
	padding-top: 15px;
	padding-bottom: 15px;
}

#u9080-4.AccordionPanelTabOpen,#u9083-4:hover
{
	padding-top: 15px;
	padding-bottom: 15px;
	min-height: 14px;
	width: 1008px;
	margin: 0px;
}

#u9083-4.AccordionPanelTabOpen
{
	padding-top: 15px;
	padding-bottom: 15px;
	min-height: 14px;
	width: 1008px;
	margin: 0px;
}

#u9084
{
	z-index: 71;
	width: 1008px;
	height: 1px;
}

#accordionu9018,#accordionu9018-bw
{
	z-index: 16;
}

#u9066-4
{
	z-index: 72;
	width: 180px;
	min-height: 29px;
	margin-right: -10000px;
	margin-top: 16px;
	left: 92px;
}

#u11804,#u11804-bw
{
	z-index: 78;
	height: 1px;
}

#pu8937
{
	width: 0.01px;
	margin-top: 900px;
}

#u8937,#u8937-bw
{
	z-index: 2;
	height: 60px;
}

#u8938-13
{
	z-index: 3;
	min-height: 23px;
}

#u8938-13-bw
{
	z-index: 3;
	min-height: 23px;
	margin-top: 21px;
}

@font-face
{
	font-family: '__FontAwesome_5';
	src: url('../../fonts/fontawesome-webfont.eot');
	src: local('☺'), url('../../fonts/fontawesome-webfont.woff') format('woff'), url('../../fonts/fontawesome-webfont.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

body
{
	position: relative;
	min-width: 1008px;
}

#page .verticalspacer
{
	clear: both;
}

