#u9067
{
	border-style: none;
	background-color: #B7B7B7;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
}

.elem-20
{
	border-width: 2px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	border-radius: 100px;
}

#u9068
{
	border-style: none;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	border-radius: 100px;
	position: relative;
	background: #B2B2B2 url("../../images/logo-ieu9068-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../../images/logo.png") no-repeat center center;
	background-color: #B2B2B2;
	background-size: cover;
}

.hidpi #u9068
{
	background-image: url("../../images/logo_2x.png");
}

#accordionu9018
{
	border-color: #7F7F7F;
	background-color: transparent;
}

#u9019
{
	background-color: transparent;
}

#u9020-4
{
	border-color: #C9C9C9;
	background-color: #24272B;
	color: #999999;
	text-align: right;
	font-size: 30px;
	line-height: 30px;
	font-family: '__FontAwesome_5';
	font-weight: 400;
}

#u9020-4.AccordionPanelTabOpen
{
	border-color: #E5E5E5;
	background-color: #24272B;
}

#u9020-4.AccordionPanelTabOpen p
{
	font-size: 30px;
	text-transform: none;
}

.js #u9020-4.ose_pre_init
{
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
}

#u9021
{
	border-style: none;
	border-color: transparent;
	background-color: #24272B;
}

#accordionu9022
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u9033-4
{
	border-color: #FFFFFF;
	background-color: transparent;
	color: #727272;
	text-align: center;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 14px;
	font-family: raleway, sans-serif;
	font-weight: 700;
	position: relative;
}

#u9033-4:hover
{
	background-color: #191B1E;
}

#u9033-4:hover p
{
	color: #E5E5E5;
	visibility: inherit;
}

#u9034
{
	vertical-align: top;
	position: relative;
	background: url("../../images/u9034.png") no-repeat 0px 0px;
}

.hidpi #u9034
{
	background-image: url("../../images/u9034_2x.png");
	background-size: 1008px 1px;
}

#u9024-4
{
	border-color: #FFFFFF;
	background-color: transparent;
	color: #727272;
	text-align: center;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 14px;
	font-family: raleway, sans-serif;
	font-weight: 700;
	position: relative;
}

#u9033-4.AccordionPanelTabOpen,#u9024-4:hover
{
	background-color: #191B1E;
}

#u9033-4.AccordionPanelTabOpen p,#u9024-4:hover p
{
	color: #E5E5E5;
	visibility: inherit;
}

#u9025
{
	vertical-align: top;
	position: relative;
	background: url("../../images/u9025.png") no-repeat 0px 0px;
}

.hidpi #u9025
{
	background-image: url("../../images/u9025_2x.png");
	background-size: 1008px 1px;
}

#u9028-4
{
	border-color: #FFFFFF;
	background-color: transparent;
	color: #727272;
	text-align: center;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 14px;
	font-family: raleway, sans-serif;
	font-weight: 700;
	position: relative;
}

#u9024-4.AccordionPanelTabOpen,#u9028-4:hover
{
	background-color: #191B1E;
}

#u9024-4.AccordionPanelTabOpen p,#u9028-4:hover p
{
	color: #E5E5E5;
	visibility: inherit;
}

#u9027
{
	vertical-align: top;
	position: relative;
	background: url("../../images/u9027.png") no-repeat 0px 0px;
}

.hidpi #u9027
{
	background-image: url("../../images/u9027_2x.png");
	background-size: 1008px 1px;
}

#u9030-4
{
	border-color: #FFFFFF;
	background-color: transparent;
	color: #727272;
	text-align: center;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 14px;
	font-family: raleway, sans-serif;
	font-weight: 700;
	position: relative;
}

#u9028-4.AccordionPanelTabOpen,#u9030-4:hover
{
	background-color: #191B1E;
}

#u9028-4.AccordionPanelTabOpen p,#u9030-4:hover p
{
	color: #E5E5E5;
	visibility: inherit;
}

#u9031
{
	vertical-align: top;
	position: relative;
	background: url("../../images/u9031.png") no-repeat 0px 0px;
}

.hidpi #u9031
{
	background-image: url("../../images/u9031_2x.png");
	background-size: 1008px 1px;
}

#u9037-4
{
	border-color: #FFFFFF;
	background-color: transparent;
	color: #727272;
	text-align: center;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 14px;
	font-family: raleway, sans-serif;
	font-weight: 700;
	position: relative;
}

#u9030-4.AccordionPanelTabOpen,#u9037-4:hover
{
	background-color: #191B1E;
}

#u9030-4.AccordionPanelTabOpen p,#u9037-4:hover p
{
	color: #E5E5E5;
	visibility: inherit;
}

#u9036
{
	vertical-align: top;
	position: relative;
	background: url("../../images/u9036.png") no-repeat 0px 0px;
}

.hidpi #u9036
{
	background-image: url("../../images/u9036_2x.png");
	background-size: 1008px 1px;
}

#u9040-4
{
	border-color: #FFFFFF;
	background-color: transparent;
	color: #727272;
	text-align: center;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 14px;
	font-family: raleway, sans-serif;
	font-weight: 700;
	position: relative;
}

#u9037-4.AccordionPanelTabOpen,#u9040-4:hover
{
	background-color: #191B1E;
}

#u9037-4.AccordionPanelTabOpen p,#u9040-4:hover p
{
	color: #E5E5E5;
	visibility: inherit;
}

#u9039
{
	vertical-align: top;
	position: relative;
	background: url("../../images/u9039.png") no-repeat 0px 0px;
}

.hidpi #u9039
{
	background-image: url("../../images/u9039_2x.png");
	background-size: 1008px 1px;
}

#u9080-4
{
	border-color: #FFFFFF;
	background-color: transparent;
	color: #727272;
	text-align: center;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 14px;
	font-family: raleway, sans-serif;
	font-weight: 700;
	position: relative;
}

#u9040-4.AccordionPanelTabOpen,#u9080-4:hover
{
	background-color: #191B1E;
}

#u9040-4.AccordionPanelTabOpen p,#u9080-4:hover p
{
	color: #E5E5E5;
	visibility: inherit;
}

#u9081
{
	vertical-align: top;
	position: relative;
	background: url("../../images/u9081.png") no-repeat 0px 0px;
}

.hidpi #u9081
{
	background-image: url("../../images/u9081_2x.png");
	background-size: 1008px 1px;
}

#u9083-4
{
	border-color: #FFFFFF;
	background-color: transparent;
	color: #727272;
	text-align: center;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 14px;
	font-family: raleway, sans-serif;
	font-weight: 700;
	position: relative;
}

#u9080-4.AccordionPanelTabOpen,#u9083-4:hover
{
	background-color: #191B1E;
}

#u9080-4.AccordionPanelTabOpen p,#u9083-4:hover p
{
	color: #E5E5E5;
	visibility: inherit;
}

#u9083-4.AccordionPanelTabOpen p
{
	color: #E5E5E5;
	visibility: inherit;
}

#u9084
{
	vertical-align: top;
	position: relative;
	background: url("../../images/u9084.png") no-repeat 0px 0px;
}

.hidpi #u9084
{
	background-image: url("../../images/u9084_2x.png");
	background-size: 1008px 1px;
}

.AccordionPanelTab /* accordion */
{
	cursor: pointer;
}

#u9032,#u9023,#u9026,#u9029,#u9035,#u9038,#u9079,#u9082,#u9066-4
{
	background-color: transparent;
	position: relative;
}

#u9066-2
{
	font-size: 20px;
	line-height: 32px;
	color: #E5E5E5;
}

#u9083-4.AccordionPanelTabOpen,#u11804
{
	background-color: #191B1E;
}

#u8937
{
	background-color: #171A1E;
}

#u8938-13
{
	background-color: transparent;
	text-align: center;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 10px;
	line-height: 12px;
	font-family: raleway, sans-serif;
	font-weight: 400;
}

#u8938,#u8938-6
{
	color: #777777;
}

#u8938-3,#u8938-8
{
	text-decoration: none;
}

