#u9839
{
	border-style: none;
	background-color: #B7B7B7;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
}

.elem-20
{
	border-width: 2px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	border-radius: 100px;
}

#u9840
{
	border-style: none;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	border-radius: 100px;
	position: relative;
	background: #B2B2B2 url("../../images/logo-ieu9840-fr.png") no-repeat center center;
	background: rgba(0,0,0,0) url("../../images/logo.png") no-repeat center center;
	background-color: #B2B2B2;
	background-size: cover;
}

.hidpi #u9840
{
	background-image: url("../../images/logo_2x.png");
}

#accordionu9809
{
	border-color: #7F7F7F;
	background-color: transparent;
	position: relative;
}

#u9811-4
{
	border-color: #C9C9C9;
	background-color: #24272B;
	color: #999999;
	text-align: right;
	font-size: 30px;
	line-height: 30px;
	font-family: '__FontAwesome_5';
	font-weight: 400;
	position: relative;
}

#u9811-4.AccordionPanelTabOpen
{
	border-color: #E5E5E5;
}

#u9811-4.AccordionPanelTabOpen p
{
	font-size: 30px;
	text-transform: none;
}

.js #u9811-4.ose_pre_init
{
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
}

#u9812
{
	border-style: none;
	border-color: transparent;
	background-color: #24272B;
	position: relative;
}

#accordionu9813
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u9831-4
{
	border-color: #FFFFFF;
	background-color: transparent;
	color: #727272;
	text-align: center;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 14px;
	font-family: raleway, sans-serif;
	font-weight: 700;
	position: relative;
}

#u9831-4:hover
{
	background-color: #191B1E;
}

#u9831-4:hover p
{
	color: #E5E5E5;
	visibility: inherit;
}

#u9830
{
	vertical-align: top;
	position: relative;
	background: url("../../images/u9830.png") no-repeat 0px 0px;
}

#u9830:hover
{
	background: url("../../images/u9830-r.png") no-repeat 0px 0px;
}

.hidpi #u9830
{
	background-image: url("../../images/u9830_2x.png");
	background-size: 380px 1px;
}

.hidpi #u9830:hover
{
	background-image: url("../../images/u9830-r_2x.png");
	background-size: 380px 1px;
}

#u9825-4
{
	border-color: #FFFFFF;
	background-color: transparent;
	color: #727272;
	text-align: center;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 14px;
	font-family: raleway, sans-serif;
	font-weight: 700;
	position: relative;
}

#u9831-4.AccordionPanelTabOpen,#u9825-4:hover
{
	background-color: #191B1E;
}

#u9831-4.AccordionPanelTabOpen p,#u9825-4:hover p
{
	color: #E5E5E5;
	visibility: inherit;
}

#u9824
{
	vertical-align: top;
	position: relative;
	background: url("../../images/u9824.png") no-repeat 0px 0px;
}

#u9824:hover
{
	background: url("../../images/u9824-r.png") no-repeat 0px 0px;
}

.hidpi #u9824
{
	background-image: url("../../images/u9824_2x.png");
	background-size: 380px 1px;
}

.hidpi #u9824:hover
{
	background-image: url("../../images/u9824-r_2x.png");
	background-size: 380px 1px;
}

#u9834-4
{
	border-color: #FFFFFF;
	background-color: transparent;
	color: #727272;
	text-align: center;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 14px;
	font-family: raleway, sans-serif;
	font-weight: 700;
	position: relative;
}

#u9825-4.AccordionPanelTabOpen,#u9834-4:hover
{
	background-color: #191B1E;
}

#u9825-4.AccordionPanelTabOpen p,#u9834-4:hover p
{
	color: #E5E5E5;
	visibility: inherit;
}

#u9833
{
	vertical-align: top;
	position: relative;
	background: url("../../images/u9833.png") no-repeat 0px 0px;
}

#u9833:hover
{
	background: url("../../images/u9833-r.png") no-repeat 0px 0px;
}

.hidpi #u9833
{
	background-image: url("../../images/u9833_2x.png");
	background-size: 380px 1px;
}

.hidpi #u9833:hover
{
	background-image: url("../../images/u9833-r_2x.png");
	background-size: 380px 1px;
}

#u9819-4
{
	border-color: #FFFFFF;
	background-color: transparent;
	color: #727272;
	text-align: center;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 14px;
	font-family: raleway, sans-serif;
	font-weight: 700;
	position: relative;
}

#u9834-4.AccordionPanelTabOpen,#u9819-4:hover
{
	background-color: #191B1E;
}

#u9834-4.AccordionPanelTabOpen p,#u9819-4:hover p
{
	color: #E5E5E5;
	visibility: inherit;
}

#u9818
{
	vertical-align: top;
	position: relative;
	background: url("../../images/u9818.png") no-repeat 0px 0px;
}

#u9818:hover
{
	background: url("../../images/u9818-r.png") no-repeat 0px 0px;
}

.hidpi #u9818
{
	background-image: url("../../images/u9818_2x.png");
	background-size: 380px 1px;
}

.hidpi #u9818:hover
{
	background-image: url("../../images/u9818-r_2x.png");
	background-size: 380px 1px;
}

#u9837-4
{
	border-color: #FFFFFF;
	background-color: transparent;
	color: #727272;
	text-align: center;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 14px;
	font-family: raleway, sans-serif;
	font-weight: 700;
	position: relative;
}

#u9819-4.AccordionPanelTabOpen,#u9837-4:hover
{
	background-color: #191B1E;
}

#u9819-4.AccordionPanelTabOpen p,#u9837-4:hover p
{
	color: #E5E5E5;
	visibility: inherit;
}

#u9836
{
	vertical-align: top;
	position: relative;
	background: url("../../images/u9836.png") no-repeat 0px 0px;
}

#u9836:hover
{
	background: url("../../images/u9836-r.png") no-repeat 0px 0px;
}

.hidpi #u9836
{
	background-image: url("../../images/u9836_2x.png");
	background-size: 380px 1px;
}

.hidpi #u9836:hover
{
	background-image: url("../../images/u9836-r_2x.png");
	background-size: 380px 1px;
}

#u9821-4
{
	border-color: #FFFFFF;
	background-color: transparent;
	color: #727272;
	text-align: center;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 14px;
	font-family: raleway, sans-serif;
	font-weight: 700;
	position: relative;
}

#u9837-4.AccordionPanelTabOpen,#u9821-4:hover
{
	background-color: #191B1E;
}

#u9837-4.AccordionPanelTabOpen p,#u9821-4:hover p
{
	color: #E5E5E5;
	visibility: inherit;
}

#u9822
{
	vertical-align: top;
	position: relative;
	background: url("../../images/u9822.png") no-repeat 0px 0px;
}

#u9822:hover
{
	background: url("../../images/u9822-r.png") no-repeat 0px 0px;
}

.hidpi #u9822
{
	background-image: url("../../images/u9822_2x.png");
	background-size: 380px 1px;
}

.hidpi #u9822:hover
{
	background-image: url("../../images/u9822-r_2x.png");
	background-size: 380px 1px;
}

#u9828-4
{
	border-color: #FFFFFF;
	background-color: transparent;
	color: #727272;
	text-align: center;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 14px;
	font-family: raleway, sans-serif;
	font-weight: 700;
	position: relative;
}

#u9821-4.AccordionPanelTabOpen,#u9828-4:hover
{
	background-color: #191B1E;
}

#u9821-4.AccordionPanelTabOpen p,#u9828-4:hover p
{
	color: #E5E5E5;
	visibility: inherit;
}

#u9827
{
	vertical-align: top;
	position: relative;
	background: url("../../images/u9827.png") no-repeat 0px 0px;
}

#u9827:hover
{
	background: url("../../images/u9827-r.png") no-repeat 0px 0px;
}

.hidpi #u9827
{
	background-image: url("../../images/u9827_2x.png");
	background-size: 380px 1px;
}

.hidpi #u9827:hover
{
	background-image: url("../../images/u9827-r_2x.png");
	background-size: 380px 1px;
}

#u9815-4
{
	border-color: #FFFFFF;
	background-color: transparent;
	color: #727272;
	text-align: center;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 14px;
	font-family: raleway, sans-serif;
	font-weight: 700;
	position: relative;
}

#u9828-4.AccordionPanelTabOpen,#u9815-4:hover
{
	background-color: #191B1E;
}

#u9815-4.AccordionPanelTabOpen
{
	background-color: #191B1E;
}

#u9828-4.AccordionPanelTabOpen p,#u9815-4:hover p
{
	color: #E5E5E5;
	visibility: inherit;
}

#u9815-4.AccordionPanelTabOpen p
{
	color: #E5E5E5;
	visibility: inherit;
}

#u9816
{
	vertical-align: top;
	position: relative;
	background: url("../../images/u9816.png") no-repeat 0px 0px;
}

#u9816:hover
{
	background: url("../../images/u9816-r.png") no-repeat 0px 0px;
}

.hidpi #u9816
{
	background-image: url("../../images/u9816_2x.png");
	background-size: 380px 1px;
}

.hidpi #u9816:hover
{
	background-image: url("../../images/u9816-r_2x.png");
	background-size: 380px 1px;
}

.AccordionPanelTab /* accordion */
{
	cursor: pointer;
}

#u9810,#u9829,#u9823,#u9832,#u9817,#u9835,#u9820,#u9826,#u9814,#u9838-4
{
	background-color: transparent;
	position: relative;
}

#u9838-2
{
	font-size: 20px;
	text-align: left;
	line-height: 32px;
	color: #E5E5E5;
}

#u9844
{
	background-color: #171A1E;
}

#u9845-13
{
	background-color: transparent;
	text-align: center;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 10px;
	line-height: 15px;
	font-family: raleway, sans-serif;
	font-weight: 400;
}

#u9845,#u9845-6
{
	color: #777777;
}

