/*

*/

.version.price /* version checker */
{
	color: #0000EE;
	background-color: #E34548;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #191B1E;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 570px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#ppu9839
{
	width: 0.01px;
	margin-right: -10000px;
}

#pu9839
{
	z-index: 92;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	margin-left: 30px;
}

#u9839
{
	z-index: 0;
	width: 46px;
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu9840
{
	width: 0.01px;
	position: relative;
	left: 6px;
	padding-top: 6px;
	z-index: 2;
	padding-bottom: 6px;
}

#u9840
{
	z-index: 93;
	width: 35px;
	height: 35px;
	margin-right: -10000px;
}

#accordionu9809
{
	z-index: 16;
	width: 380px;
	margin-right: -10000px;
}

#u9810
{
	z-index: 17;
	width: 380px;
}

#u9811-4
{
	z-index: 18;
	width: 340px;
	min-height: 32px;
	padding: 15px 30px 15px 10px;
}

#u9811-4.AccordionPanelTabOpen
{
	padding-top: 15px;
	padding-bottom: 15px;
	min-height: 32px;
	width: 340px;
	margin: 0px;
}

#u9812
{
	z-index: 22;
	width: 380px;
	padding-bottom: 21px;
}

#accordionu9813
{
	z-index: 23;
	width: 380px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-right: -10000px;
	margin-top: 1px;
}

#u9829
{
	z-index: 24;
	width: 380px;
}

#u9831-4
{
	z-index: 25;
	width: 380px;
	min-height: 14px;
	padding-top: 15px;
	padding-bottom: 15px;
}

#u9831-4:hover
{
	padding-top: 15px;
	padding-bottom: 15px;
	min-height: 14px;
	width: 380px;
	margin: 0px;
}

#u9830
{
	z-index: 30;
	height: 1px;
	width: 380px;
}

#u9823
{
	z-index: 32;
	width: 380px;
}

#u9825-4
{
	z-index: 33;
	width: 380px;
	min-height: 14px;
	padding-top: 15px;
	padding-bottom: 15px;
}

#u9831-4.AccordionPanelTabOpen,#u9825-4:hover
{
	padding-top: 15px;
	padding-bottom: 15px;
	min-height: 14px;
	width: 380px;
	margin: 0px;
}

#u9824
{
	z-index: 38;
	height: 1px;
	width: 380px;
}

#u9832
{
	z-index: 40;
	width: 380px;
}

#u9834-4
{
	z-index: 41;
	width: 380px;
	min-height: 14px;
	padding-top: 15px;
	padding-bottom: 15px;
}

#u9825-4.AccordionPanelTabOpen,#u9834-4:hover
{
	padding-top: 15px;
	padding-bottom: 15px;
	min-height: 14px;
	width: 380px;
	margin: 0px;
}

#u9833
{
	z-index: 46;
	height: 1px;
	width: 380px;
}

#u9817
{
	z-index: 48;
	width: 380px;
}

#u9819-4
{
	z-index: 49;
	width: 380px;
	min-height: 14px;
	padding-top: 15px;
	padding-bottom: 15px;
}

#u9834-4.AccordionPanelTabOpen,#u9819-4:hover
{
	padding-top: 15px;
	padding-bottom: 15px;
	min-height: 14px;
	width: 380px;
	margin: 0px;
}

#u9818
{
	z-index: 54;
	height: 1px;
	width: 380px;
}

#u9835
{
	z-index: 56;
	width: 380px;
}

#u9837-4
{
	z-index: 57;
	width: 380px;
	min-height: 14px;
	padding-top: 15px;
	padding-bottom: 15px;
}

#u9819-4.AccordionPanelTabOpen,#u9837-4:hover
{
	padding-top: 15px;
	padding-bottom: 15px;
	min-height: 14px;
	width: 380px;
	margin: 0px;
}

#u9836
{
	z-index: 62;
	height: 1px;
	width: 380px;
}

#u9820
{
	z-index: 64;
	width: 380px;
}

#u9821-4
{
	z-index: 65;
	width: 380px;
	min-height: 14px;
	padding-top: 15px;
	padding-bottom: 15px;
}

#u9837-4.AccordionPanelTabOpen,#u9821-4:hover
{
	padding-top: 15px;
	padding-bottom: 15px;
	min-height: 14px;
	width: 380px;
	margin: 0px;
}

#u9822
{
	z-index: 70;
	height: 1px;
	width: 380px;
}

#u9826
{
	z-index: 72;
	width: 380px;
}

#u9829_position_content,#u9823_position_content,#u9832_position_content,#u9817_position_content,#u9835_position_content,#u9820_position_content,#u9826_position_content
{
	margin-bottom: -1px;
}

#u9828-4
{
	z-index: 73;
	width: 380px;
	min-height: 14px;
	padding-top: 15px;
	padding-bottom: 15px;
}

#u9821-4.AccordionPanelTabOpen,#u9828-4:hover
{
	padding-top: 15px;
	padding-bottom: 15px;
	min-height: 14px;
	width: 380px;
	margin: 0px;
}

#u9827
{
	z-index: 78;
	height: 1px;
	width: 380px;
}

#u9814
{
	z-index: 80;
	width: 380px;
}

#u9815-4
{
	z-index: 81;
	width: 380px;
	min-height: 14px;
	padding-top: 15px;
	padding-bottom: 15px;
}

#u9828-4.AccordionPanelTabOpen,#u9815-4:hover
{
	padding-top: 15px;
	padding-bottom: 15px;
	min-height: 14px;
	width: 380px;
	margin: 0px;
}

#u9815-4.AccordionPanelTabOpen
{
	padding-top: 15px;
	padding-bottom: 15px;
	min-height: 14px;
	width: 380px;
	margin: 0px;
}

#u9816
{
	z-index: 86;
	height: 1px;
	width: 380px;
}

#u9838-4
{
	z-index: 88;
	width: 180px;
	min-height: 29px;
	margin-right: -10000px;
	margin-top: 15px;
	left: 90px;
}

#pu9844
{
	width: 0.01px;
	margin-bottom: -2px;
	margin-right: -10000px;
	margin-top: 512px;
}

#u9844,#u9844-bw
{
	z-index: 2;
	height: 60px;
}

#u9845-13
{
	z-index: 3;
	min-height: 23px;
}

#u9845-13-bw
{
	z-index: 3;
	min-height: 23px;
	margin-top: 16px;
}

@font-face
{
	font-family: '__FontAwesome_5';
	src: url('../../fonts/fontawesome-webfont.eot');
	src: local('☺'), url('../../fonts/fontawesome-webfont.woff') format('woff'), url('../../fonts/fontawesome-webfont.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -511px;
}

