#u89
{
	background-color: #24272B;
	position: fixed;
}

.js #u89.ose_pre_init
{
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
}

#u4215
{
	border-style: none;
	background-color: #B7B7B7;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
}

.elem-20
{
	border-width: 2px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	border-radius: 100px;
}

#u7563
{
	border-style: none;
	border-color: #000000;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	border-radius: 100px;
	position: fixed;
	background: #B2B2B2 url("../images/logo.png") no-repeat center center;
	background-size: cover;
}

.hidpi #u7563
{
	background-image: url("../images/logo_2x.png");
}

#u1072-4
{
	background-color: transparent;
	position: fixed;
}

#u1072-4.MuseLinkActive p,#u1072-4.MuseLinkActive h2
{
	text-align: left;
}

#u1072-2
{
	font-size: 20px;
	text-align: left;
	line-height: 32px;
	color: #E5E5E5;
}

#menuu346
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
}

#u2823
{
	background-color: transparent;
	border-radius: 3px;
	position: relative;
}

#u2823:hover
{
	background-color: #191B1E;
}

#u2824-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #727272;
	text-align: center;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 14px;
	font-family: raleway, sans-serif;
	font-weight: 700;
	position: relative;
}

#u2823:hover #u2824-4 p
{
	color: #E5E5E5;
	visibility: inherit;
	letter-spacing: 3px;
}

#u364
{
	background-color: transparent;
	border-radius: 3px;
	position: relative;
}

#u2823.MuseMenuActive,#u364:hover
{
	background-color: #191B1E;
}

#u364:active
{
	background-color: #191B1E;
}

#u367-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #727272;
	text-align: center;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 14px;
	font-family: raleway, sans-serif;
	font-weight: 700;
	position: relative;
}

#u364:hover #u367-4 p
{
	color: #E5E5E5;
	visibility: inherit;
	letter-spacing: 3px;
}

#u364:active #u367-4 p
{
	color: #E5E5E5;
	visibility: inherit;
	letter-spacing: 3px;
}

#u3460
{
	background-color: transparent;
	border-radius: 3px;
	position: relative;
}

#u364.MuseMenuActive,#u3460:hover
{
	background-color: #191B1E;
}

#u3462-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #727272;
	text-align: center;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 14px;
	font-family: raleway, sans-serif;
	font-weight: 700;
	position: relative;
}

#u3460:hover #u3462-4 p
{
	color: #E5E5E5;
	visibility: inherit;
	letter-spacing: 3px;
}

#u6451
{
	background-color: transparent;
	border-radius: 3px;
	position: relative;
}

#u3460.MuseMenuActive,#u6451:hover
{
	background-color: #191B1E;
}

#u6452-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #727272;
	text-align: center;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 14px;
	font-family: raleway, sans-serif;
	font-weight: 700;
	position: relative;
}

#u6451:hover #u6452-4 p
{
	color: #E5E5E5;
	visibility: inherit;
	letter-spacing: 3px;
}

#u350
{
	background-color: transparent;
	border-radius: 3px;
	position: relative;
}

#u6451.MuseMenuActive,#u350:hover
{
	background-color: #191B1E;
}

#u352-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #727272;
	text-align: center;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 14px;
	font-family: raleway, sans-serif;
	font-weight: 700;
	position: relative;
}

#u350:hover #u352-4 p
{
	color: #E5E5E5;
	visibility: inherit;
	letter-spacing: 3px;
}

#u6406
{
	background-color: transparent;
	border-radius: 3px;
	position: relative;
}

#u350.MuseMenuActive,#u6406:hover
{
	background-color: #191B1E;
}

#u6407-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #727272;
	text-align: center;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 14px;
	font-family: raleway, sans-serif;
	font-weight: 700;
	position: relative;
}

#u6406:hover #u6407-4 p
{
	color: #E5E5E5;
	visibility: inherit;
	letter-spacing: 3px;
}

#u6496
{
	background-color: transparent;
	border-radius: 3px;
	position: relative;
}

#u6406.MuseMenuActive,#u6496:hover
{
	background-color: #191B1E;
}

#u6498-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #727272;
	text-align: center;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 14px;
	font-family: raleway, sans-serif;
	font-weight: 700;
	position: relative;
}

#u6496:hover #u6498-4 p
{
	color: #E5E5E5;
	visibility: inherit;
	letter-spacing: 3px;
}

#u2822,#u361,#u3457,#u6448,#u347,#u6403,#u6493,#u3494
{
	background-color: transparent;
	position: relative;
}

#u3495
{
	background-color: transparent;
	border-radius: 3px;
	position: relative;
}

#u6496.MuseMenuActive,#u3495:hover
{
	background-color: #191B1E;
}

#u3495.MuseMenuActive
{
	background-color: #191B1E;
}

#u3498-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #727272;
	text-align: center;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 14px;
	font-family: raleway, sans-serif;
	font-weight: 700;
	position: relative;
}

#u3495:hover #u3498-4 p
{
	color: #E5E5E5;
	visibility: inherit;
	letter-spacing: 3px;
}

#u2823.MuseMenuActive #u2824-4 p,#u364.MuseMenuActive #u367-4 p,#u3460.MuseMenuActive #u3462-4 p,#u6451.MuseMenuActive #u6452-4 p,#u350.MuseMenuActive #u352-4 p,#u6406.MuseMenuActive #u6407-4 p,#u6496.MuseMenuActive #u6498-4 p,#u3495.MuseMenuActive #u3498-4 p
{
	color: #E5E5E5;
	visibility: inherit;
	letter-spacing: 2px;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u7718
{
	background-color: #191B1E;
	position: fixed;
}

#u90
{
	background-color: #171A1E;
}

#u3571-13
{
	background-color: transparent;
	text-align: center;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 10px;
	line-height: 12px;
	font-family: raleway, sans-serif;
	font-weight: 400;
}

#u3571,#u3571-6
{
	color: #777777;
}

#u3571-3,#u3571-8
{
	text-decoration: none;
}

